<div class="container">
    <div class="socials">
        <a href="https://facebook.com" target="_blank"> <i class="uil uil-linkedin"></i></a>
        <a href="https://facebook.com" target="_blank"> <i class="uil uil-github"></i></a>
    </div>
    <div class="info">
        <h1>Front-end <span>Developer</span></h1>
        <h3>Hi, I am Nduduzo Andries Ngobese</h3>
        <p>I am an IT Graduate , I studied National Diploma in Information Technology (Multimedia)
            at Tshwane University of Technology. I am a Software Developer. I
            worked for 2 years at a company called EXERTION as a Front-end Developer Intern using Angular 2+ . I am currently working as a Front- I am very Passionate about Software Development <br> I am seeking for
            full-time employment , so I can utilize my knowledge and skills as a Software Developer.</p>
            <a href="" class="download-btn cv">Download CV</a>
    </div>
    <div class="profile">
        <div class="outer-circle">
            <span class="material-icons-sharp">design_services</span>
            <span class="material-icons-sharp">dns</span>
            <span class="material-icons-sharp">code</span>
            <span class="material-icons-sharp">integration_instructions</span>
        </div>
        <div class="inner-circle">
            <img src="assets/images/ndu2.png" alt="">
        </div>
    </div>
</div>
