<nav>
  <div class="container">
    <a href="#"><h3>NA <span>NGOBESE</span></h3></a>
    <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#Skills">Skills</a></li>
        <li><a href="#portfolio">Porfolio</a></li>
        <li><a href="#contact">Let's Talk</a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<br>

<section class="landing">
<app-landing></app-landing>
</section>
<router-outlet></router-outlet>